attrs==24.2.0
autobahn==21.2.1
Automat==24.8.1
certifi==2021.10.8
cffi==1.17.1
charset-normalizer==2.0.12
constantly==15.1.0
construct==2.10.68
Cython>=0.29.34,<3.0.0
hyperlink==21.0.0
idna==3.3
incremental==24.7.2
lxml==5.3.0
netifaces>=0.10.4
numpy>=1.19.5
pycparser==2.22
pyOpenSSL==24.0.0
PyYAML==6.0.1
PyXB-X==1.2.6.1
rawsocket==0.2
requests==2.27.1
service_identity==24.1.0
six==1.16.0
Twisted==24.10.0
txaio==22.2.1
typing_extensions==4.12.2
urllib3==1.26.9
zope.interface==7.0.1
starpy @ git+https://github.com/asterisk/starpy@1.1.1
